@import url(../reindeer/styles.css);

.cr-books-logo-bar {
	font-size: 2em;
	color: #FFFFFF;
	padding: 0.2em 0.1em;
	background-image: url(img/menu-background.bmp);
}

.cr-books-menu-commands {
	color: #FFFFFF;
	padding: 0.2em 0.1em;
	background-image: url(img/menu-background.bmp);
	text-decoration: underline;
}

.cr-books-menu-commands .v-menubar-menuitem-caption {
	text-decoration: underline;
}

.cr-books-menu-commands .v-menubar-menuitem-caption img {
	width: 2em;
	height: 2em;
}

.gwt-MenuItem img {
	width: 2em;
	height: 2em;
} 

.cr-books-menu-commands-username {
	text-decoration: none;
	color: #CCCCCC;
}

.cr-books-price-label-upper-zero {
	color: #008800;
	font-weight:bold;
}

.cr-books-price-label-lower-zero {
	color: #880000;
	font-weight:bold;
}